input[name='_gotcha']
  display none !important

html[lang="en"]
  *[lang="es"]
    display none !important

html[lang="es"]
  *[lang="en"]
    display none !important

.content.box ul
  li
    font-size 0.8em
    line-height 1em
    margin 0 auto
