doctype html
html(lang="en")
  head
    title Ecuador Transport & Travel
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      :stylus
        #one
          p
            font-size inherit
    <!--[if lte IE 8]>
    script(src="assets/js/ie/html5shiv.js")
    <![endif]-->
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel="stylesheet" href="application.css")
    <!--[if lte IE 8]>
    link(rel="stylesheet" href="assets/css/ie8.css")
    <![endif]-->
    <!--[if lte IE 9]>
    link(rel="stylesheet" href="assets/css/ie9.css")
    <![endif]-->
  body
    header#header
      h1#logo Ecuador Transport & Travel
      nav#nav
        ul
          li: a(href="#intro") Home
          li: a(href="#one") About Us
          li: a(href="#two") About Me
          li: a(href="#work") Destinations
          li: a(href="#contact") Contact
    section#intro.main.style1.dark.fullscreen
      .content.container(class="75%")
        header(lang="en")
          include:markdown home.en.txt
        header(lang="es")
          include:markdown home.es.txt
         footer
            a.button.style2.down(href="#one") More

    section#one.main.style2.right.dark.fullscreen
      .content.box.style2(lang="en")
        include:markdown about.en.txt
      .content.box.style2(lang="es")
        include:markdown about.es.txt
      a.button.style2.down.anchored(href="#two") Next

    section#two.main.style2.left.dark.fullscreen
      .content.box.style2(lang="en")
        include:markdown programs.en.txt
      .content.box.style2(lang="es")
        include:markdown programs.es.txt
      a#work.button.style2.down.anchored(href="#work") Next

    section#work.main.style3.primary
      .content.container
        header(lang="en")
          include:markdown destinations.en.txt
        header(lang="es")
          include:markdown destinations.es.txt
        .container.gallery(class="75%")
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/01.jpg" class="image fit from-left")
                img(src="images/thumbs/01.jpg" title="The Andes" alt="" )
            div(class="6u 12u(mobile)")
              a(href="images/fulls/02.jpg" class="image fit from-right")
                img(src="images/thumbs/02.jpg" title="The Amazon Rain Forest" alt="")
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/03.jpg" class="image fit from-left")
                img(src="images/thumbs/03.jpg" title="The Pacific Coast" alt="")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/04.jpg" class="image fit from-right")
                img(src="images/thumbs/04.jpg" title="Cloud Forest" alt="" )
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/05.jpg" class="image fit from-left")
                img(src="images/thumbs/05.jpg" title="Bird Watching" alt="" )
            div(class="6u 12u(mobile)")
              a(href="images/fulls/06.jpg" class="image fit from-right")
                img(src="images/thumbs/06.jpg" title="Ecuador by Train" alt="")

    // Contact
    section#contact.main.style3.secondary
      div(class="content container")
        header
          h2 Say Hello.
          p Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
        div(class="box container 75%")
          form(method="post" action="//formspree.io/jjbuckley@gmail.com")
            input(type='text' name='_gotcha' style="display:none")
            .row(class="50%")
              div(class="6u 12u(mobile)"): input(type="text" name="name" placeholder="Name")
              div(class="6u 12u(mobile)"): input(type="email" name="email" placeholder="Email")
            .row(class="50%")
              div(class="12u"): textarea(name="message" placeholder="Message" rows="6")
            .row
              div(class="12u")
                ul.actions
                  li: input(type="submit" value="Send Message")

    // Footer
    footer#footer
      ul.actions
        li: a(href="#" class="icon fa-twitter"): span(class="label") Twitter
        li: a(href="#" class="icon fa-facebook"): span(class="label") Facebook
        li: a(href="#" class="icon fa-google-plus"): span(class="label") Google+
        li: a(href="#" class="icon fa-dribbble"): span(class="label") Dribbble
        li: a(href="#" class="icon fa-pinterest"): span(class="label") Pinterest
        li: a(href="#" class="icon fa-instagram"): span(class="label") Instagram
      ul.menu
        li &copy; Ecuador Transport & Travel
        li 
          | Design &nbsp;
          a(href="http://html5up.net") HTML5 UP

    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    <!--[if lte IE 8]>
    script(src="assets/js/ie/respond.min.js")
    <![endif]-->
    script(src="assets/js/main.js")
    script(src="application.js")
